.logo{
          width: 100px;
}

.search-box{
          margin-right:400px;
}
@media screen and (max-width:576px) {
          .search-box{
                    width:150px;
                    margin-right: 0;
                    margin-left: -50px;
                    align-items: center;
                    
          }
          .logo{
                    margin-left: 0;
          }
}

/* nav a.active{
          color: rgb(190, 14, 117);
          text-decoration: none;
          font-weight: bold;
          color: red;
} */