* {
  font-family: "Poppins", sans-serif;
}

.image {
  height: 100vh;
  /* background-color: hsla(0, 0%, 0%, 0.6); */
  background-image: url(https://duruthemes.com/demo/html/winta/multipage-light/img/about1.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title{
  color: cadetblue;
}
.margin {
  margin-top: 200px;
  margin-left: 250px;
  margin-top:5px;
  padding-top: 10px;
}
.see-all-button {
  margin-left: 490px;
}

.branch-image {
  background-image: url(https://duruthemes.com/demo/html/winta/multipage-light/img/banner.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  background-attachment: fixed;
  height: 75vh;
}
.chef-color {
  color: goldenrod;
  width: 400px !important;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .see-all-button {
    margin-top: 20px !important;

    margin-left: 100px;
  }
  .chef-color {
    width:150px !important;
  }
}
